[Unit]
Description=Run NOOP Intervals bridge daily

[Timer]
OnCalendar=*-*-* 10:00:00
Persistent=true
RandomizedDelaySec=0
Unit=noop-intervals-bridge.service

[Install]
WantedBy=timers.target
